
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=WindSong:wght@500&display=swap');
</style>


.footer{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    gap: 0px 0px; 
    background: rgb(23, 23, 22);

  
    
}


.nav {
    height:4vw;
    background-color:bisque;
    padding:1em;
}


.main{
    height:500px;
}

html, body{
    margin:0;
    padding:0;
    z-index: 0;
    width:100%;
    height:100%;
    font-family: 'Poppins', sans-serif;
    
}


#contact{
    padding: 3em;
}

.grid3{
    
    color:white;
    background-color: rgb(23, 23, 22);
}


#you{
    font-family: 'WindSong', cursive;
    color:#ffffff;
}
.grid1{
    background-color: rgb(23, 23, 22);
    color: #ffffff;
}

.grid2{
    background-color: rgb(23, 23, 22);
    color: #ffffff;
}