.footer{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    
}


.nav {
    height:4vw;
    background-color:bisque;
    padding:1em;
}


.main{
    width:6vw;
}

body{
    margin:0;
    padding:0;
    z-index: -1;
    
}